@import './utils/fonts';
@import './utils/variables';
@import './base';
@import './utils/texts';
@import './utils/utils';
@import './utils/mixins';


@import './components/buttons';
@import './components/chef-card';
@import './components/format-card';
@import './components/input';
@import './components/links';

@import './layouts/advantages-section';
@import './layouts/chefs-section';
@import './layouts/contact-section';
@import './layouts/form-terms';
@import './layouts/formats-section';
@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/modal';
@import './layouts/section';
@import './layouts/traditions-section';





.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}


/*Carousel */

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-primary-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

.carousel-button.next {
  transform: rotate(180deg);
}
/*Footer*/

.footer {
  position: relative;
  padding: 32px 0;
  background-color: var(--color-primary-dark);
  background-image: url('../images/footer-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer::before, 
.footer::after {
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  content: "";
}

.footer::before {
  width: 180px;
  height: 120px;
  left: 0;
  background-image: url('../images/decor-bread-small.png');
}

.footer::after {
  width: 380px;
  height: 190px;
  right: 0;
  background-image: url('../images/decor-bread-large.png');
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-light);
}

.address-copyright {
  font-size: 14px;
}

.address-icon {
  display: flex;
  fill: var(--color-primary-light);
}

.address-icon:hover {
  fill: var(--color-brand-normal);
}
